/* COMMON */

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

h1 {
	font-size: 3em;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

/* SHARED */

.title, .recent-meter, .recent-history {
	position: absolute;
	right: 0;
	left: 0;
}


/* Title */
.title {
	background-color: #0077ff;
	padding: 0;
	margin: 0;
	height:70px;
	top:0;
}

.title h1 {
	padding: 10px;
	padding-top: 30px;
}

/* Meter */
.recent-meter {
	top: 100px;
	bottom: 200px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 40px;
}

.recent-meter h3 {
	text-align: center;
	font-size: 1.8em;
	margin: 0 auto;
	margin-top: 40px;
	width: 400px;
	text-align: center;
	line-height: 1em;
	margin-bottom: 0;
}

/* History */
.recent-history {
	background-color: #002;
	height: 200px;
	bottom: 0;
}

.recent-history h1 {
	position: absolute;
	right: 20px;
	top: -8px;
}

.recent-history #svg {
	min-width: 100%;
	height: 200px;
}
