/* COMMON */

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	overflow: none;
}

h1 {
	font-size: 3.5em;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

/* SHARED */

.title, .recent-meter, .recent-history {
	position: absolute;
	right: 0;
	left: 0;
}


/* Title */
.title {
	background-color: #0077ff;
	padding: 0;
	margin: 0;
	height:75px;
	top:0;
}

.title h1 {
	padding: 10px;
	padding-top: 30px;
}

.title h1 span {
	float:right;
	font-size:0.5em;
	margin-right:10px;
	color:rgba(255,255,255,0.7);
}

/* Meter */
.section-dial {
	top: 0;
	float: left;
	width: 70%;
	background: #fff;
	display: inline-block;
	margin: 0;
}
.section-tweets {
	width: 28%;
	display: inline-block;
	margin: 0;
	overflow-y: scroll;
}
.recent-meter {
	background: #ddd;
	top: 75px;
	bottom: 200px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 30px;
}

.tip {
	background: #999; 
	color: white; 
	padding: 10px; 
	text-align: center;
}

.recent-meter h3 {
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	margin-top: 65px;
	text-align: center;
	line-height: 1em;
	margin-bottom: 0;
}

.recent-meter #dial {
	margin-top: -90px;
}

.recent-meter text {
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.recent-meter #left {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #42acff;
	position: absolute;
	bottom: 30px;
	margin: 0;
	left: 5%;
	text-align: center;
}

.recent-meter #right {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #ff671a;
	position: absolute;
	bottom: 30px;
	margin: 0;
	left: 45%;
	text-align: center;
}

/* History */
.recent-history {
	background-color: #002;
	height: 200px;
	bottom: 0;
}

.recent-history h1 {
	position: absolute;
	right: 20px;
	top: -8px;
}

.recent-history #svg {
	min-width: 100%;
	height: 200px;
}
